@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --c-red: rgb(231, 0, 0);
    --c-red-rgb: 231, 0, 0;
    --c-blue: rgb(0, 29, 245);
    --c-blue-rgb: 0, 29, 245;
    --c-yellow: rgb(224, 255, 27);
    --c-yellow-rgb: 224, 255, 27;
    --c-bg: hsl(68deg, 100%, 75%);
    --margin: 10px;
    --fs-text: 12px;
    --fs-large-text: 14px;
    --fs-h1: 60px;
    --fs-h2: 24px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: var(--c-yellow);
}

.header_title {
    transform-origin: left top;
    transform: rotate(-90deg) translate(-50%, calc(28px - 50%));
}

.header_menuBtn .dot {
    background-color: currentColor;
    transition-property: background-color, transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
}

.header_menuBtn:hover .dot {
    background-color: var(--c-blue);
}